.footer {
    height: 50px;
    width: 100%;
    align-items: center;
    background-color: white;
    position:fixed;
    bottom: 0;
    display: flex; 
}
.jfloww {
    font-family: cursive;
    font-size: small;
    font-weight: 100;
}
.link_box {
    padding-left: 20%; 
}
.footer_icon {
    font-size: large; 
}
.footer_text {
    text-decoration: none;
}