.header {
    height: 60px;
    display: flex;
    width: '100%';
    align-items: center;
    background-color: white;
    position: sticky;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.title {
    color: black;
    padding-left: 200px;
    font-size: large;
    font-weight: 900;
}
.menu {
    color: black;
    margin-left:auto;
    font-weight: 600;
    margin-left: auto;
    margin-right: 100px;
}