.main {
    margin: 0 10px;
    padding-top: 20px;
    text-align: center;
    /* background-image:url('../../../public/images/test_photo.jpg') ;
    background-size: 100% 100%; */
    height: 70rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    border-radius: 4%;
}

.container {
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: auto;
    grid-template-areas:
      'a a a'
      'a a a'
      'a a a'
      'b b b'
      'c d e'
      'c d e';
    border-color: red;
    border-width: 3px;
    border-style: dotted;
    margin: 0 150px;
}
.profile {
  grid-area: b;
}