.main {
    margin: 0 10px;
    padding-top: 20px;
    text-align: center;
    /* background-image:url('../../../public/images/test_photo.jpg') ;
    background-size: 100% 100%; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    border-radius: 4%;
}

.big_box {
  height: 35rem;
  border-color: green;
  border-width: 3px;
  border-style: dotted;
  margin: 0px 150px;
}
.container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.4%;
    grid-template-rows: 33rem;
    grid-template-areas:
      'a b c';
    border-color: red;
    border-width: 3px;
    border-style: dotted;
    margin: 0 150px;
    margin-bottom: 60px;
}
.small_box1 {
  margin: 0 20px;
  grid-area: a;
  text-decoration: none;
}
.small_box2 {
  border-color: blue;
  border-width: 3px;
  border-style: dotted;
  margin: 0 20px;
  grid-area: b;
}
.small_box3 {
   border-color: purple;
  border-width: 3px;
  border-style: dotted;
  margin: 0 20px;
  grid-area: c;
  text-decoration: none;
}
.jay_photo {
  border-radius: 5%;
  width: 70%;
  height: 50%;
}