.profile {
    height: 3rem;
    width: 100%;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.pro_menu {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-left: 37%;
}
.icon {
    align-items: center;
    color: rgba(7, 48, 83, 0.397);
    padding-left: 20px;
}
.text {
    font-weight: 500;
    text-decoration: none;
}